body {
	font-family: 'Roboto', sans-serif;
}
.container {
	max-width: 940px;
	margin: 0 auto;
}
.title {
	font-size: 48px;
	font-weight: lighter;
	color: #111;
}
.location img {
	display: block;
	width: 100%;
	height: auto;
}
.ic-ski {
	background: url(../images/ic-ski.fw.png) no-repeat;
	padding: 15px 20px 0;
}
.ic-lightning {
	background: url(../images/ic-lightning.fw.png) no-repeat;
	padding: 14px 41px 0 0;
}
.ic-bag {
	background: url(../images/ic-bag.fw.png) no-repeat;
	padding: 16px 19px 0;
}
.text p {
	font-size: 16px;
	font-weight: lighter;
	line-height: 1.6;
	color: #444444;
}
.buttons {
	padding: 100px 0;
}
.btn {
	font-size: 16px;
	font-weight: 700px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 16px;
	background: #FA7205;
	color: #fff;
}
.active {
	margin: 5px;
}
.fa-chevron-down {
	padding: 5px;
	font-weight: normal;
}
.btn:hover {
	border: 1px solid #FA7205;
	background: #fff;
	color: #FA7205;
}
@media screen and (min-width: 900px) {
	.clearfix {
		display: block;	
	}
	.text {
		width: 62%;
		float: left;
	}
	.location {
		float: right;
		width: 33%;	
		margin: 131px 2px 0px 0px;
	}
}